@{
    ViewData["Title"] = "Index Home";
}

    <h2>@ViewBag.Nombre</h2>
    <h3>@ViewBag.Fecha</h3>
    @Html.ActionLink("Ir a Medicos","Index","Medico")

    @section SideBaropcional2{ 


<p>Menú SidebarOpcional2</p>

<ul class="listaimagenes">
    <li>
    <img src="imagenes/medico.png" 
         width="200"
         height="200">
    </li>
    <li>
    <img src="imagenes/simbolo.png" 
         width="200"
         height="200">
    </li>
    <li>
    <img src="imagenes/edificio.png" 
         width="200"
         height="200">
    </li>
</ul>


}

@section SideBaropcional{ 


<p>Menú SidebarOpcional</p>

<ul class="listaimagenes">
    <li>
    <img src="imagenes/medico.png" 
         width="200"
         height="200">
    </li>
    <li>
    <img src="imagenes/simbolo.png" 
         width="200"
         height="200">
    </li>
    <li>
    <img src="imagenes/edificio.png" 
         width="200"
         height="200">
    </li>
</ul>


}